<container>
    <row class="footer">
        <columns>
            <p class="text-center">This e-mail contains proprietary information some or all of which may be legally
                priviledged. It is for
                the intended recepient only. If transmission error has misdirected this email, Please notify the author
                by replying to this e-mail. If you are not the intended recepient you must not disclose, use, copy,
                print, distribute, or rely on this e-mail for present or future use. </p>

            <p class="text-center end">h&keys Company Limited. Registered in England, No. 2951231. Registered office:
                h&keys House, <br>
                55 coding
                Street, EC1N 2BJ, London. </p>
        </columns>
    </row>
</container>